/ {
    pumprelay: pumprelay {
        compatible = "relay";
        gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;  // TODO: IT SHOULD BE 4, but for testing we will use 5
    };

    valverelay: valverelay {
        compatible = "relay";
        gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;  // TODO: IT SHOULD BE 5, but for testing we will use 4
    };

    zephyr,user {
        io-channels = <&adc0 5>;
        pwms = <&ledc0 0 PWM_USEC(1500) PWM_POLARITY_NORMAL>;
    };
};

&adc0 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    /* CO sensor */
    channel@5 {
        reg = <5>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

&wifi {
    status = "okay";
};

&spi2 {
    status = "disabled";
};

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";

    bme280: bme280@76 {
        /* 0x76 - SDO <-> GND */
        /* 0x77 - SDO <-> VCC */
        compatible = "bosch,bme280";
        reg = <0x76>;
        status = "okay";
    };

    vl53l0x: vl53l0x@29 {
        compatible = "st,vl53l0x";
        reg = <0x29>;
        status = "okay";
    };

    ds3231: ds3231@68 {
        compatible = "adi,ds3231";
        reg = <0x68>;
        status = "okay";
    };
};

&ledc0 {
	pinctrl-0 = <&buzzer_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            pinmux = <I2C1_SDA_GPIO48>,
                     <I2C1_SCL_GPIO47>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };

    buzzer_default: buzzer_default {
		group1 {
			pinmux = <LEDC_CH0_GPIO46>;
			output-enable;
		};
	};
};
